<!DOCTYPE html>
<html lang="en">
  <!--<![endif]-->
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="description" content="moodBUMP" />
    <meta name="keywords" content="HTML" />
    <meta name="author" content="Alex Stevens" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
   <!-- main style-->
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
     <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Overpass:wght@200;400;900&display=swap"
      rel="stylesheet" 
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/style/main.css" rel="stylesheet" />
    <link
    rel="stylesheet"
    href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css"
  />
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script rel="text/javascript" src="/js/tools_script.js"></script>
  </head>
  <body>
   		{{>header}}

    <main>
<span class="icon"><button id="opener" class="info"> <i class="far fa-question-circle"></i></button></span><br>
       {{#if mindfulness}}
      <div class="row">
        <div class="col-sm-10 col-md-8 center-block">
          <h3 class="heading adjust">Mindfulness Tools:</h3>
        </div>
      </div><br>

      <div class="row">
        <div class="col-sm-10 col-md-8 center-block">
          <ul class="list-group">
            <!-- will pull from DB//onclick events will be added to dropdown to add to inactive DB or delete from DB-->
           
            <li class="list-group-item">
              <a href="/thoughtJournal">Thought Journal</a>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
            <li class="list-group-item">
              <a href="/meditation">Meditation</a>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
            <li class="list-group-item">
              <a href="/mantraHome">Mantras</a>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
          </ul>
        </div>
      </div>
      {{/if}}

        {{#if productivity}}
      <div class="row">
        <div class="col-sm-10 col-md-8 center-block">
          <h3 class="heading">Productivity Tools:</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-md-8 center-block">
          <ul class="list-group">
            <!-- will pull from DB//onclick events will be added to dropdown to add to inactive DB or delete from DB-->
            <li class="list-group-item">
              <a href="/sleepLog">Sleep Log</a>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
            <li class="list-group-item">
              <a href="/powerHour">Power Hour</a>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
            <li class="list-group-item">
              <a href="/affirmationHome">Affirmations</a>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
          </ul>
        </div>
      </div>
      {{/if}}

      {{#each custom_tools}}
      <div class="row">
        <div class="col-sm-10 col-md-8 center-block">
          <h3 class="heading">{{name}} Tools:</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10 col-md-8 center-block">
          <ul class="list-group">
            <!-- will pull from DB//onclick events will be added to dropdown to add to inactive DB or delete from DB-->
            {{#if tool_1}}
            <li class="list-group-item">
              <p class="item">{{tool_1}}</p>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
            {{else}}
              <li class="list-group-item">
              <p class="item">No custom tools were added.</p>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
            {{/if}}
            {{#if tool_2}}
            <li class="list-group-item">
              <p class="item">{{tool_2}}</p>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
            {{/if}}
            {{#if tool_3}}
            <li class="list-group-item">
              <p class="item">{{tool_3}}</p>
              <span class="icon"><button class="container"><i class="far fa-check-circle"></i></button></span>
            </li>
            {{/if}}
          </ul>
        </div>
      </div>
      {{/each}}

      <div id="dialog" title="Help">
        Tap on tool title to navigate to tool item.  Tap on check mark to log tool completion for today.
      </div>
      
      		{{>footer}}

      <script>
        $("button.container").click(function () {
          $(this)
            .children("i")
            .toggleClass("far fa-check-circle fas fa-check-circle");
        });
      </script>
    </body>
  </html>
    
